.content {
    padding: 20px;
}
mat-form-field {
    width: 60%;
}
.form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 100px;
}
.button-section {
    text-align: right;
}
button {
    width: 150px;
}